<footer class="footer p-3 mb-2 bg-dark text-white">

    
  <div class="container footercontainer">

        <div class="row">
          <div class="col-sm" *ngIf="contactus">
            <h3>{{contactus.fields.title}}</h3>
            <!-- <div [innerHtml]="contactus.fields.richtext | richtextToHtml"></div> -->
            <div [innerHtml]="contactus.fields.content | mdToHtml"></div>

          </div>
          <div class="col-sm">
            <h3>Connect with Us</h3>
            <div class="row">
                <div class="col-sm"><h1 class="display-4 "><a class="text-light" href="http://www.facebook.com/kpthrive"><i class="fab fa-facebook"></i></a></h1></div>
                <div class="col-sm"> <h1 class="display-4"><a class="text-light" href="http://www.twitter.com/KPNewsCenter"><i class="fab fa-twitter"></i></a></h1></div>
                <div class="col-sm"> <h1 class="display-4"><a class="text-light" href="http://www.youtube.com/kaiserpermanenteorg"> <i class="fab fa-youtube"></i></a> </h1></div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm">
                <p><a class="text-light" href="http://www.kp.org"> <img height="20" src="assets/images/favicon-128x128.png" alt=""> Home kp.org </a> </p>
              <p><a class="text-light" href="http://www.getfitsocal.org"><i class="fas fa-heartbeat"></i> Get Fit</a> </p>
              <p><a class="text-light" href="https://about.kaiserpermanente.org/our-story/our-history"><i class="fas fa-book-open"></i> KP History</a></p>
              
            </div>
        
            </div>           
          </div>
      
          
        </div>
<hr>
        <div class="text-muted text-center font-weight-lighter" >Copyright © 2012 - 2020 KFHP, Inc. All rights reserved.
          This site was produced in collaboration with SCPMG Permanente Human Resources & Southern California Integrated Brand Communications.</div>

      </div>
</footer>