<footer class="footer p-3 mb-2 bg-dark text-white">

    

    <div class="container">
        <div class="row">
          <div class="col-sm">
            <h2>{{contactus.fields.title}}</h2>
            <div [innerHtml]="contactus.fields.richtext | richtextToHtml"></div>

          </div>
          <div class="col-sm">
            <h2>Connect wit Us</h2>
            <div class="row">
                <div class="col-sm"><h1><a class="social" href=""><i class="fab fa-facebook"></i></a></h1></div>
                <div class="col-sm"> <h1><a class="social" href=""><i class="fab fa-twitter"></i></a></h1></div>
                <div class="col-sm"> <h1><a class="social" href=""> <i class="fab fa-youtube"></i></a> </h1></div>
            </div>

            
         
        
           
          </div>
          
        </div>

        <span class="text-muted text-center font-weight-lighter" style="font-size: 0.8rem;">Copyright © 2012 - 2020 KFHP, Inc. All rights reserved. This site was produced in collaboration with SCPMG Permanente Human Resources & Southern California Integrated Brand Communications.</span>
      </div>
</footer>