/* You can add global styles to this file, and also import other style files */


$blue:    #0078B3 !default;
$indigo:  #7a4cc5 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #F05674 !default;
$orange:  #fd7e14 !default;
$yellow:  #FEC941 !default;
$green:   #57A635 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

@import "node_modules/bootstrap/scss/bootstrap"; 