<app-carousel></app-carousel>
<br> <br>
<div class="container">
    <div class="row">
      <div class="col-sm text-center" >
        <h1 ><i class="fas fa-calendar-alt text-success"></i></h1>
        <h2 class="display-5">Retirement Seminar</h2>
        <p>Join fellow retirees at a benefits information session hosted by Permanente Human Resources.</p>
         <a class="btn btn-primary" routerLink="/events" role="button">Click Here</a> 
      </div>
      <div class="col-sm text-center">
        <h1><i class="fas fa-coins text-warning"></i></h1>
        <h2 class="display-5">What are you up to?</h2>
        <p>Join fellow retirees at a benefits information session hosted by Permanente Human Resources.</p>
         <a class="btn btn-primary" routerLink="/events" role="button">Click Here</a> 
      </div>
      <div class="col-sm text-center">
        <h1><i class="fas fa-campground text-danger"></i></h1>
        <h2 class="display-5">Helpful Links</h2>
        <p>Join fellow retirees at a benefits information session hosted by Permanente Human Resources.</p>
         <a class="btn btn-primary" routerLink="/events" role="button">Click Here</a> 
      </div>
    </div>
  </div>
<br>
  <br>
<div class="jumbotron jumbotron-fluid" *ngIf="welcome" id="welcome">

  <div class="container">
    <div class="media">
      <img [src]="welcome.fields.photo.fields.file.url" class="align-self-start mr-3 " alt="Ellison">
      <div class="media-body">
        <h5 class="mt-0">{{welcome.fields.title}}</h5>
        <div [innerHtml]="welcome.fields.richtext | richtextToHtml"></div> 
      </div>
    </div>
  </div>
  
</div>
